.site-header {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__content {
    text-transform: uppercase;

    position: relative;
    z-index: 2;


    h1 {
      padding: 2.4rem 0 3.8rem;
      font-size: 7.2rem;
      line-height: 1.17;
      letter-spacing: 0.05rem;
      font-weight: bold;
    }

    h2 {
      padding-top: 3rem;
      padding-bottom: 6rem;
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: 0.25rem;
    }

    .services-list {
      max-width: 70rem;
      margin: 0 auto;
      padding: 0 0 3rem;

      p {
        font-size: 2.4rem;
        line-height: 1.50;
        font-weight: bold;
        text-transform: none;
      }
    }


  }
}